# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.log
*.h~
*.c~
include/arithmetic.h~
scripts/create-make~
test/investigate
test/investigate.c~
test/test-arithmetic
test/test-arithmetic.c~
test/test-arithmetic-cunit
test/test-arithmetic-cunit.c~
test/test-arithmetic-ruby
test/test-sqrt-cunit
